<h1>All restaurants</h1>

<ul class="restaurant">
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    </li>
  <% end %>
  <p>add new restaurant: <%= link_to "here", new_restaurant_path %></p>
